<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
	<div class="col-md-6 col-8 align-self-center">
		<h3 class="text-themecolor m-b-0 m-t-0">Wallets status</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item active">Wallets status</li>
		</ol>
	</div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
	<div class="col-12">
		<div class="card">
			<div id="node" class="card-block">
				<div class="table-responsive">
					<table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th>Symbol</th>
							<th>Currency</th>
							<th>Status</th>
							<th>Staking</th>
							<th>Block</th>
							<th>Progress</th>
							<th>Updated</th>
							<th>Connection</th>
							<th>Version</th>
							<th>Peers</th>
						</tr>
						</thead>
						<tfoot>
						<tr>
							<th>Symbol</th>
							<th>Currency</th>
							<th>Status</th>
							<th>Staking</th>
							<th>Block</th>
							<th>Progress</th>
							<th>Updated</th>
							<th>Connection</th>
							<th>Version</th>
							<th>Peers</th>
						</tr>
						</tfoot>
						<tbody>
                        <% for (node of nodes) { %>
						<tr id="currency=<%=node.currency %>">
							<td><img src="http://localhost:9001/images/<%=node.currency%>.png" height="20px" width="20px"> <%=node.currency %></td>
							<td><%=node.currencyname %></td>
							<td><span class="label label-<% if(node.active == true){ %>success<% } else{ %>danger<% } %>"><% if(node.active == true){ %>Active<% } else{ %>Maintenance<% } %></span></td>
							<td><span class="label label-<% if(node.staking == true){ %>success<% } else{ %>danger<% } %>"><% if(node.staking  == true){ %>On<% } else{ %>Off<% } %></span></td>
							<td><%=node.last_block_read %></td>
							<td><div class="progress"><div class="progress-bar bg-success active progress-bar-striped wow animated progress-animated" style="width: <%=node.net %>%;" role="progressbar"><%=node.net %>%</div></div></td>
							<td><%=node.block_time %></td>
							<td><%=node.connection %></td>
							<td><%=node.version %></td>
							<td></td>
						</tr>
                        <% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/plugins/jquery/jquery.min.js"></script>

<!-- This is data table -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<!-- start - This is for export functionality only -->
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="/plugins/moment/moment.js?v=1.0.0.0"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/feed-socketio.js"></script>
<!-- end - This is for export functionality only -->
<script>
    $('#example23').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
